Repository nodejs/build, pull requests merged in 2018-08, with the labels that each got.

#1298 jenkins: no debian8-x86 for node 10
  jenkins/scripts/VersionSelectorScript.groovy
Labels: bug, ci-public, platform:linux-intel

#1349 jenkins: linter refactor & fix for 6.x
  jenkins/pipelines/node-linter.jenkinsfile
Labels: bug, enhancement

#1391 add release-macstadium-macos10.11-x64-1
  ansible/inventory.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/package-upgrade/tasks/partials/brew.yml
Labels: ansible, ci-release, platform:osx

#1475 ansible: remove test-ibm-aix61-ppc64-1 from inventory
  ansible/inventory.yml
Labels: ansible
