Repository nodejs/build, pull requests merged in 2018-07, with the labels that each got.

#1384 github-bot: fix privilege for iojs user
  ansible/roles/github-bot/tasks/main.yml
  ansible/roles/github-bot/templates/deploy-github-bot.sh.j2
Labels: ansible

#1338 switch ppcle to use newer java8 version
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/jenkins-worker/templates/upstart.j2
Labels: ansible, infra

#1101 setup: remove ubuntu1404
  setup/ansible-inventory
  setup/ubuntu14.04/README.md
  setup/ubuntu14.04/ansible-playbook.yaml
  setup/ubuntu14.04/ansible-vars.yaml
  setup/ubuntu14.04/host_vars/.gitignore
  setup/ubuntu14.04/resources/jenkins.conf.j2
Labels: ansible, infra

#1395 ansible: move linter tasks to worker/create.yml playbook
  ansible/README.md
  ansible/playbooks/jenkins/linter.yml
  ansible/playbooks/jenkins/worker/create.yml
  ansible/roles/jenkins-worker/templates/freebsd.initd.j2
  doc/jenkins-guide.md
  doc/services.md
Labels: ansible, ci-public

#1363 doc: update ONBOARDING.md
  ONBOARDING.md
Labels: doc
