Repository nodejs/build, pull requests merged in 2018-06, with the labels that each got.

#1279 setup: remove centos6
  setup/ansible-inventory
  setup/centos6/README.md
  setup/centos6/ansible-playbook.yaml
  setup/centos6/ansible-vars.yaml
  setup/centos6/host_vars/.gitignore
  setup/centos6/host_vars/_tmpl
  setup/centos6/resources/jenkins.initd
  setup/centos6/resources/jenkins.sysconfig.j2
  setup/centos6/resources/start.sh
Labels: ansible, infra

#1307 github-bot: add node jenkins variables
  setup/github-bot/resources/environment-file
Labels: ansible, infra

#1306 doc: add services.md
  doc/services.md
Labels: doc

#1310 Add .yml extension to group_vars files
  ansible/group_vars/infra.yml
  ansible/group_vars/release.yml
  ansible/group_vars/test.yml
Labels: ansible, infra

#1311 doc: add jenkins guide
  doc/jenkins-guide.md
Labels: doc

#1315 doc: move "join wg" instructions to access.md
  doc/access.md
  doc/process/joining_the_build_wg.md
Labels: doc

#1302 ansible: check if docker exists before installing
  ansible/roles/jenkins-worker/tasks/partials/docker-host.yml
Labels: ansible, infra

#1301 setup: remove debian-wheezy-gcc
  setup/debian-wheezy-gcc/Dockerfile
  setup/debian-wheezy-gcc/README.md
  setup/debian-wheezy-gcc/deb-control.patch
Labels: ansible

#1316 setup: remove armv7-wheezy
  setup/ansible-inventory
  setup/armv7-wheezy/README.md
  setup/armv7-wheezy/ansible-playbook.yaml
  setup/armv7-wheezy/ansible-vars.yaml
  setup/armv7-wheezy/host_vars/.gitignore
  setup/armv7-wheezy/resources/monit-jenkins.conf
  setup/armv7-wheezy/resources/start.sh
Labels: ansible, infra

#1320 doc: combine fixing-machines and jenkins-guide
  doc/fixing-machines.md
  doc/jenkins-guide.md
Labels: doc

#1324 Davidwkaiser patch 3
  README.md
Labels: doc

#1321 ansible: add role to install Linux perf on Ubuntu
  ansible/playbooks/jenkins/worker/create.yml
  ansible/roles/linux-perf/tasks/main.yml
  ansible/roles/linux-perf/vars/main.yml
Labels: ansible, ci-public, infra, test

#1333 doc: add guide to lock jenkins for sec releases
  doc/jenkins-guide.md
  static-assets/jenkins-authorization-normal.png
  static-assets/jenkins-authorization-sec.png
Labels: ci-public, doc

#1295 ansible: rpi updates, completed conversions to new format
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/raspberry-pi.yml
  ansible/roles/jenkins-worker/tasks/partials/raspberry-pi.yml
  ansible/roles/jenkins-worker/templates/rpi_rc.local.j2
  ansible/roles/jenkins-worker/vars/main.yml
Labels: ansible, infra

#1336 doc: correct the access documentation of jenkins
  doc/access.md
Labels: doc

#1296 jenkins: add node-linter
  jenkins/pipelines/node-linter.jenkinsfile
Labels: ci-public

#1351 doc: add guide on SSH access
  ansible/README.md
  doc/access.md
  doc/jenkins-guide.md
  doc/ssh.md
Labels: ansible, doc

#1352 setup: remove raspberry-pi
  setup/ansible-inventory
  setup/raspberry-pi/README.md
  setup/raspberry-pi/ansible-playbook.yaml
  setup/raspberry-pi/ansible-vars.yaml
  setup/raspberry-pi/host_vars/.gitignore
  setup/raspberry-pi/host_vars/example_host_var
  setup/raspberry-pi/resources/02proxy.j2
  setup/raspberry-pi/resources/boot-config.pi1p.txt.j2
  setup/raspberry-pi/resources/boot-config.pi2.txt.j2
  setup/raspberry-pi/resources/dphys-swapfile.j2
  setup/raspberry-pi/resources/keyboard-defaults.j2
  setup/raspberry-pi/resources/sources.list.j2
  setup/raspberry-pi/resources/start.j2
  setup/raspberry-pi/resources/start_tunnel.j2
  setup/raspberry-pi/resources/systemd.service.j2
Labels: ansible, infra, platform:arm

#1339 doc: add minutes for meeting 12 June 2018
  doc/meetings/build-wg-meeting-2018-06-12.md
Labels: doc

#1360 doc: SSH access minor fixes
  doc/ssh.md
Labels: doc

#1357 ansible: restart OSX agent
  ansible/roles/jenkins-worker/tasks/main.yml
Labels: ansible, infra, platform:osx

#1067 ansible: introduce create-github-bot playbook
  ansible/README.md
  ansible/playbooks/create-github-bot.yml
  ansible/roles/github-bot/tasks/main.yml
  ansible/roles/github-bot/templates/deploy-github-bot.sh.j2
  ansible/roles/github-bot/templates/environment-file.j2
  ansible/roles/github-bot/templates/github-bot-deploy-webhook.json.j2
  ansible/roles/github-bot/templates/github-bot-deploy-webhook.service.j2
  ansible/roles/github-bot/templates/github-bot.service.j2
  ansible/roles/github-bot/vars/main.yml
Labels: ansible, infra

#1365 doc: move NPM management to access document
  doc/access.md
  doc/process/npm_management.md
Labels: doc

#1356 setup: remove osx
  doc/jenkins-guide.md
  setup/osx/README.md
  setup/osx/org.nodejs.osx.jenkins.plist
  setup/osx/org.nodejs.osx.tunnel.plist
  setup/osx/ssh_config
  setup/osx/start.sh
  setup/osx/tunnel.sh
Labels: ansible, infra, platform:osx

#1371 doc: update ansible_testing guide
  doc/ansible-testing.md
Labels: ansible, doc

#1368 doc: update members list
  README.md
Labels: doc

#1374 Add lucalanziani to Build WG Members list
  README.md
Labels: doc
