Repository nodejs/build, pull requests merged in 2019-12, with the labels that each got.

#2085 jenkins: exclude testing on vs2019 on Node.js < 10
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows

#2086 ansible: remove hardcoded cert location for AIX jenkins
  ansible/roles/jenkins-worker/templates/aix.rc2.j2
Labels: ansible, platform:aix

#2083 Reprovision s390x machines
  ansible/ansible.cfg
  ansible/inventory.yml
  ansible/playbooks/jenkins/worker/create.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/java-base/vars/main.yml
  ansible/roles/jenkins-worker/meta/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/rhel7.yml
  ansible/roles/jenkins-worker/vars/main.yml
  ansible/roles/package-upgrade/vars/main.yml
  doc/node-test-commit-matrix.md
  doc/non-ansible-configuration-notes.md
  jenkins/pipelines/llnode-pipeline.jenkinsfile
  tools/build-p-ssh-hosts.sh
Labels: ansible, platform:linuxONE

#2107 ansible: manual AIX7.2 install instructions moved
  ansible/MANUAL_STEPS.md
  ansible/aix61-standalone/manualBootstrap.md
Labels: ansible, doc, platform:aix

#2098 Enable jenkins testing on AIX71
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:aix

#2104 ansible: add back the firewall rules for rhel7_s390x
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
Labels: ansible, platform:linuxONE

#2111 jenkins: use AIX7.1 for 13.x and 14.x
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:aix
