Repository nodejs/build, pull requests merged in 2021-03, with the labels that each got.

#2554 ansible: remove smartos 15 and 16 from inventory
  ansible/inventory.yml
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, platform:smartos

#2555 jenkins: update select-compiler to GCC8 for AIX on 16.x
  jenkins/scripts/select-compiler.sh
Labels: platform:aix

#2569 ansible: fix scripts for LinuxONE and SmartOS
  ansible/roles/baselayout/tasks/ccache.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/tasks/partials/ccache/aix.yml
  ansible/roles/baselayout/tasks/partials/ccache/macos.yml
  ansible/roles/baselayout/tasks/partials/ccache/rhel7-s390x.yml
  ansible/roles/baselayout/tasks/partials/ccache/smartos17.yml
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:aix, platform:linuxONE, platform:osx, platform:smartos

#2567 ansible: install Python 3 on IBM i
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/ibmi.yml
Labels: ansible, platform:ibmi

#2571 ansible: add Python 3 to LinuxONE hosts
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:linuxONE

#2574 ansible: set machine specific JOBS on AIX
  ansible/inventory.yml
  ansible/roles/jenkins-worker/vars/main.yml
Labels: ansible, platform:aix

#2575 ansible: add Python 3 to SmartOS hosts
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:smartos

#2589 ansible: add Python 3 to alpine 3.11 container
  ansible/roles/docker/templates/alpine311.Dockerfile.j2
Labels: ansible, platform:linux-intel
