Repository nodejs/build, pull requests merged in 2021-06, with the labels that each got.

#2659 ansible: use python3 in nodejs_yaml
  ansible/plugins/inventory/nodejs_yaml.py
Labels: ansible

#2672 jenkins: add centos7-release-sources to select-compiler.sh
  jenkins/scripts/select-compiler.sh
Labels: ci-release, platform:linux-intel

#2670 ansible: provide absolute path in nodejs_yaml.py
  ansible/plugins/inventory/nodejs_yaml.py
Labels: ansible

#2677 ansible: add ICU to sharedlibs containers
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
Labels: ansible, platform:linux-intel

#2684 jenkins: use gcc 8 on the benchmark machines
  jenkins/scripts/select-compiler.sh
Labels: ansible

#2675 ansible: build gn from source on Linux PPC/s390x
  ansible/MANUAL_STEPS.md
  ansible/inventory.yml
  ansible/roles/build-test-v8/meta/argument_specs.yml
  ansible/roles/build-test-v8/meta/main.yml
  ansible/roles/gn/meta/argument_specs.yml
  ansible/roles/gn/tasks/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  ansible/roles/ninja/meta/argument_specs.yml
  ansible/roles/ninja/tasks/main.yml
Labels: ansible, platform:linuxONE, platform:ppc

#2686 ansible: install g++-8 on Ubuntu 16.04
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:linux-intel

#2682 ansible: allow running playbook in check mode
  ansible/roles/bootstrap/tasks/partials/centos.yml
  ansible/roles/bootstrap/tasks/partials/centos6.yml
  ansible/roles/bootstrap/tasks/partials/debian9.yml
  ansible/roles/bootstrap/tasks/partials/fedora.yml
  ansible/roles/bootstrap/tasks/partials/freebsd.yml
  ansible/roles/bootstrap/tasks/partials/ubuntu1604.yml
  ansible/roles/bootstrap/tasks/partials/ubuntu1804.yml
  ansible/roles/bootstrap/tasks/partials/zos.yml
  ansible/roles/java-base/tasks/main.yml
Labels: ansible

#2692 ansible: remove `en1` interface on AIX 7.1
  ansible/MANUAL_STEPS.md
Labels: platform:aix
