Repository nodejs/build, pull requests merged in 2021-09, with the labels that each got.

#2739 build,test: add python-is-python3 to ubuntu 20.04 dockerfiles
  ansible/roles/docker/templates/ubuntu2004.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
Labels: ansible

#2750 www: run sync-benchmarking once every four hours
  ansible/www-standalone/tasks/site-setup.yaml
Labels: ansible

#2727 ansible: make use of role dependencies
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/jenkins-worker/meta/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  ansible/roles/user-create/tasks/main.yml
Labels: ansible

#2745 ansible: update Fedora 30 hosts to Fedora 34
  ansible/ansible.cfg
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/fedora.yml
Labels: ansible, platform:linux-intel

#2754 ansible: add gcc8 to SmartOS 18
  ansible/roles/baselayout/vars/main.yml
  jenkins/scripts/select-compiler.sh
Labels: platform:smartos

#2756 Revert "ansible: add gcc8 to SmartOS 18 (#2754)"
  ansible/roles/baselayout/vars/main.yml
  jenkins/scripts/select-compiler.sh
Labels: platform:smartos, ansible

#2755 ansible: add release-equinix-centos7-arm64-1
  ansible/inventory.yml
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:arm

#2759 update OpenSSL in sharedlib containers
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
Labels: ansible

#2764 jenkins: skip LTO builds on Node.js < 16
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:linuxONE

#2773 ansible: add libuv build deps to Ubuntu arm64
  ansible/roles/docker/tasks/partials/repo/ubuntu1804.yml
  ansible/roles/docker/templates/ubuntu1804.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
  ansible/roles/docker/vars/main.yml
Labels: ansible, platform:arm

#2634 doc: add a disaster recovery plan
  doc/disaster-recovery-plan.md
Labels: doc, infra

#2774 ansible: update FreeBSD 11->12
  ansible.cfg
  ansible/inventory.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/freebsd.yml
Labels: ansible, platform:freebsd

#2631 ansible: update iptables playbook
  ansible/playbooks/jenkins/host/iptables.yml
  ansible/plugins/filter/filters.py
Labels: ansible

#2777 ansible: add test-ibm-ubuntu1804-x64-2
  ansible/inventory.yml
Labels: ansible, platform:linux-intel
