Repository nodejs/build, pull requests merged in 2021-05, with the labels that each got.

#2637 backup: update rsnapshot configuration
  backup/README.md
  backup/rsnapshot.conf
Labels: infra

#2642 jenkins: stop testing 16.x on AIX71
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:aix

#2648 ansible: update to OpenSSL 3.0.0-alpha16+quic
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
Labels: ansible

#2651 ansible: fix centos7 x64 ansible errors
  ansible/roles/baselayout/tasks/partials/repo/centos7.yml
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:centos, platform:linux-intel

#2652 ansible: fixes for freebsd
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/freebsd.yml
  ansible/roles/jenkins-worker/templates/freebsd.initd.j2
Labels: ansible, platform:freebsd

#2654 ansible: fix multiple register vars on Fedora
  ansible/roles/bootstrap/tasks/partials/fedora.yml
Labels: ansible, platform:linux-intel

#2653 ansible: remove openrc init from jenkins-worker
  ansible/roles/jenkins-worker/templates/openrc.initd.j2
  ansible/roles/jenkins-worker/vars/main.yml
Labels: ansible

#2660 ansible: add gcc-8 to Ubuntu 18.04 hosts/containers
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/docker/templates/ubuntu1804.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  jenkins/scripts/select-compiler.sh
Labels: ansible, platform:linux-intel
