Repository nodejs/build, pull requests merged in 2021-04, with the labels that each got.

#2601 ansible,jenkins: add OpenSSL 3.0.0 to sharedlibs container
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, ci-change

#2585 ansible: add Python 3 to centos7-arm64 hosts
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:arm

#2622 ansible: remove obsolete entries
  ansible/inventory.yml
Labels: ansible

#2623 jenkins: stop testing on ubuntu1604-64 for Node.js 16
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:linux-intel

#2624 ansible: add Python 3 PPA for Ubuntu 16.04
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/tasks/partials/repo/ubuntu1604.yml
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:linux-intel

#2627 ansible: update `ci-release` in inventory
  ansible/inventory.yml
  ansible/playbooks/jenkins/host/create.yml
  ansible/playbooks/jenkins/host/iptables.yml
Labels: ansible, ci-release

#2628 ansible: add extra M1 macs
  ansible/inventory.yml
Labels: ansible, platform:osx

#2632 ansible: remove obsolete hosts
  ansible/inventory.yml
Labels: ansible

#2613 ansible: update OpenSSL 3.0 to use quictls/openssl
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
Labels: ansible

#2635 ansible: fixes for apt package upgrades
  ansible/roles/package-upgrade/tasks/partials/apt.yml
Labels: ansible

#2639 www: use `docker:lts` in `build-site.sh`
  ansible/www-standalone/resources/scripts/build-site.sh
Labels: website

#2640 backup: sync remove_old.sh with deployed version
  backup/backup_scripts/remove_old.sh
Labels: infra
