Repository nodejs/build, pull requests merged in 2022-03, with the labels that each got.

#2859 ansible: add RHEL 8 (initially s390x)
  ansible/MANUAL_STEPS.md
  ansible/README.md
  ansible/inventory.yml
  ansible/playbooks/jenkins/worker/create.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/tasks/partials/repo/rhel8.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/bootstrap/handlers/main.yml
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/bootstrap/tasks/partials/rhel8-s390x.yml
  ansible/roles/bootstrap/tasks/partials/rhel8.yml
  ansible/roles/gn/tasks/main.yml
  ansible/roles/gn/vars/main.yml
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/java-base/vars/main.yml
  ansible/roles/jenkins-worker/handlers/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  ansible/roles/jenkins-worker/vars/main.yml
  ansible/roles/package-upgrade/vars/main.yml
  ansible/roles/release-builder/files/ssh_config
  ansible/roles/release-builder/meta/argument_specs.yml
  ansible/roles/release-builder/meta/main.yml
  ansible/roles/release-builder/tasks/main.yml
  ansible/roles/release-builder/vars/main.yml
  jenkins/scripts/VersionSelectorScript.groovy
  jenkins/scripts/select-compiler.sh
Labels: ansible, platform:linuxONE

#2881 ansible: add httplib2
  ansible/inventory.yml
  ansible/roles/baselayout/tasks/main.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/bootstrap/tasks/partials/rhel7.yml
  ansible/roles/build-test-v8/tasks/main.yml
  ansible/roles/build-test-v8/tasks/partials/centos7.yml
  ansible/roles/build-test-v8/tasks/partials/rhel7-s390x.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8.yml
  ansible/roles/build-test-v8/tasks/partials/ubuntu1604.yml
  ansible/roles/java-base/vars/main.yml
  jenkins/scripts/select-compiler.sh
Labels: ci-public, ansible, platform:linux-intel, platform:linuxONE

#2886 ansible: add RHEL 8 x64 instances
  ansible/group_vars/release.yml
  ansible/group_vars/test.yml
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/rhel8.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-s390x.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-x64.yml
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ci-public, ansible, ci-release, platform:linux-intel

#2896 ansible: remove `iptables.save` on rhel8-s390x
  ansible/roles/bootstrap/tasks/partials/rhel8-s390x.yml
Labels: ansible, platform:linuxONE

#2899 ansible: update OpenSSL to 1.1.1n
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
Labels: ci-public, ansible

#2903 jenkins: stop testing on centos7 for Node.js 18 onwards
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ci-change

#2905 ansible: update RHEL 8 s390x inventory
  ansible/inventory.yml
Labels: ci-public, ansible, ci-release, platform:linuxONE

#2910 ansible: updates for Linux arm64
  ansible/inventory.yml
  ansible/playbooks/jenkins/worker/create.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/tasks/partials/repo/ubuntu2004.yml
  ansible/roles/docker/templates/rhel8.Dockerfile.j2
  ansible/roles/read-secrets/vars/main.yml
  ansible/roles/release-builder/meta/argument_specs.yml
  ansible/roles/release-builder/tasks/main.yml
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ci-public, ansible, ci-release, platform:arm

#2911 ansible: add armv7l on aarch64 docker files
  ansible/roles/docker/templates/ubuntu2004_armv7l.Dockerfile.j2
Labels: ci-public, ansible, platform:arm
