Repository nodejs/build, pull requests merged in 2022-12, with the labels that each got.

#3106 ansible: search XDG directories for Remmina config
  ansible/plugins/library/remmina_config.py
  ansible/plugins/library/ssh_config.py
Labels: ansible

#3123 ansible: update install-homebrew script
  ansible/roles/package-upgrade/files/install-homebrew.sh
Labels: platform:osx, ansible

#3130 fix: deprecation errors in macos 10.x
  ansible/roles/package-upgrade/tasks/partials/brew.yml
Labels: platform:osx
