Repository nodejs/build, pull requests merged in 2022-01, with the labels that each got.

#2829 ansible: update OpenSSL versions
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible

#2832 ansible: update orka IPs
  ansible/inventory.yml
Labels: platform:osx, ansible

#2855 ansible: add CLT for Xcode macOS manual steps
  ansible/MANUAL_STEPS.md
Labels: platform:osx
