Repository nodejs/build, pull requests merged in 2022-11, with the labels that each got.

#3060 ansible: remove migrated Packet machines
  ansible/inventory.yml
Labels: ansible, platform:arm

#3064 doc: update Security releases guide
  doc/jenkins-guide.md
  static-assets/jenkins-authorization-normal.png
  static-assets/jenkins-authorization-sec.png
Labels: doc

#3082 fix: removed empty space
  doc/ssh.md
Labels: doc

#3095 ansible: update smartos hosts to Java 11
  ansible/roles/java-base/tasks/main.yml
  ansible/roles/java-base/vars/main.yml
  ansible/roles/jenkins-worker/vars/main.yml
Labels: platform:smartos, ansible

#3081 docs: removed folder access step
  doc/ssh.md
Labels: doc
