Repository nodejs/build, pull requests merged in 2022-04, with the labels that each got.

#2907 doc: clarify how to run ansible commands
  ansible/README.md
Labels: ansible

#2912 ansible: arm cross compiler updates for Node.js 18
  ansible/roles/docker/files/cc-selector.sh
  ansible/roles/docker/templates/debian10_armv7l.Dockerfile.j2
  ansible/roles/docker/templates/rhel8_arm_cross.Dockerfile.j2
  ansible/roles/jenkins-worker/templates/rpi_buster.Dockerfile.j2
  ansible/roles/jenkins-worker/vars/main.yml
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, platform:arm

#2921 jenkins: temporarily exclude win32 for Node.js 18
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows

#2927 jenkins: run win32 CI on Node.js 19
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows

#2932 doc: add certificate update notes
  doc/update-certificates.md
Labels: doc, infra, website

#2908 ansible: add initial AIX 73 machine
  ansible/inventory.yml
Labels: ci-public, ansible, platform:aix
