Repository nodejs/build, pull requests merged in 2023-04, with the labels that each got.

#3264 jenkins: release ARM64 Windows for Node.js >= 19
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ci-release, platform:windows

#3274 ansible: update RHEL 8 cross compiler container
  ansible/roles/docker/files/cc-selector.sh
  ansible/roles/docker/templates/rhel8_arm_cross.Dockerfile.j2
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, platform:arm

#3263 meta: add Stefan Stojanovic to release and admins
  README.md
Labels: access request

#3290 ansible: upgrade test-nearform_intel-ubuntu1804 to 2204
  ansible/inventory.yml
Labels: ansible, platform:linux-intel

#3305 ansible: add `ninja-build` to x64 V8 builders
  ansible/inventory.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-x64.yml
  ansible/roles/build-test-v8/tasks/partials/ubuntu2204.yml
Labels: ansible, platform:linux-intel

#3265 ansible: refactor known_hosts tasks for github.com
  ansible/roles/docker/tasks/main.yml
  ansible/roles/github/files/github_bad_hosts
  ansible/roles/github/files/github_known_hosts
  ansible/roles/github/meta/argument_specs.yml
  ansible/roles/github/tasks/main.yml
  ansible/roles/jenkins-worker/meta/main.yml
  ansible/roles/jenkins-worker/tasks/main.yml
Labels: ansible

#3313 ansible: fix tap2junit installation for RHEL 8
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/rhel8.yml
Labels: ansible, platform:ppc, platform:linux-intel, platform:linuxONE

#3316 ansible: do not hardcode `/home`
  ansible/roles/jenkins-worker/meta/main.yml
Labels: platform:osx, ansible

#3315 jenkins: cache x64 node.exe for arm64 license file
  jenkins/scripts/windows/compile.cmd
Labels: platform:windows

#3326 ansible: remove AIX 7.1
  ansible/inventory.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/java-base/vars/main.yml
  ansible/roles/jenkins-worker/vars/main.yml
  ansible/roles/package-upgrade/vars/main.yml
  jenkins/scripts/select-compiler.sh
Labels: ansible, platform:aix
