Repository nodejs/build, pull requests merged in 2023-10, with the labels that each got.

#3507 ansible: create group on ibm i
  ansible/roles/user-create/tasks/main.yml
Labels: ansible, platform:ibmi

#3514 jenkins: improve x64 node.exe caching for arm64
  jenkins/scripts/windows/compile.cmd
Labels: platform:windows

#3466 meta: add anonrig to build
  README.md
Labels: build-agenda

#3533 Revert "jenkins: improve x64 node.exe caching for arm64 (#3514)"
  jenkins/scripts/windows/compile.cmd
Labels: platform:windows

#3532 Remove macOS 10.x release machines from inventory
  ansible/inventory.yml
Labels: platform:osx, ansible, ci-release

#3544 docs: removed old reference
  README.md
Labels: doc
