Repository nodejs/build, pull requests merged in 2023-06, with the labels that each got.

#3383 www: use node:lts-bullseye in build-site.sh
  ansible/www-standalone/resources/scripts/build-site.sh
Labels: website, ansible

#3381 ansible: update windows VMs in inventory
  ansible/inventory.yml
Labels: ansible, platform:windows

#3387 doc: update security matrix images
  static-assets/jenkins-authorization-normal.png
  static-assets/jenkins-authorization-sec.png
Labels: doc

#3386 doc: add more stuff to release overview
  doc/release-overview.md
Labels: doc, infra

#3397 ansible: install `jq` on `jenkins-workspace`
  ansible/roles/jenkins-workspace/tasks/main.yml
Labels: ci-public, ansible, platform:linux-intel

#3384 www: use node:lts-bullseye in build-site.sh
  ansible/www-standalone/resources/scripts/build-site.sh
Labels: website, ansible
