Repository nodejs/build, pull requests merged in 2023-02, with the labels that each got.

#3163 ansible: update V8 builders to Python 3.9
  ansible/roles/build-test-v8/tasks/partials/rhel8-ppc64.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-s390x.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-x64.yml
Labels: ansible, platform:ppc, platform:linux-intel, platform:linuxONE

#3173 doc: update certificate renewal/reissue docs
  doc/update-certificates.md
  doc/update-certificates.png
Labels: doc

#3184 ansible: fix syntax on ignore_errors condition
  ansible/roles/package-upgrade/tasks/partials/brew.yml
Labels: platform:osx, ansible

#3196 Removing the downloading ICU4C tasks
  ansible/roles/baselayout-windows/tasks/main.yml
  doc/create-windows-custom-vm.md
Labels: ansible, platform:windows
