Repository nodejs/build, pull requests merged in 2023-12, with the labels that each got.

#3587 ansible: add swap to test-rackspace-debian11-x64-1
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/debian11.yml
Labels: ansible, platform:linux-intel

#3590 jenkins: enable `select-compiler.sh` on UBI8
  jenkins/scripts/select-compiler.sh
Labels: jenkins

#3567 ansible: replace windows 2012r2 machines
  ansible/inventory.yml
Labels: ansible, platform:windows

#3599 ansible,win: fix temurin17 update breaking jenkins
  ansible/roles/jenkins-worker-windows/templates/jenkins.bat
Labels: ansible, platform:windows, jenkins

#3596 ansible: add gcc-toolset-10-binutils
  ansible/roles/docker/templates/rhel8.Dockerfile.j2
  ansible/roles/docker/templates/rhel8_arm_cross.Dockerfile.j2
  ansible/roles/docker/templates/ubi81.Dockerfile.j2
Labels: ansible, platform:arm, platform:linux-intel
