Repository nodejs/build, pull requests merged in 2023-09, with the labels that each got.

#3460 ansible: update rackspace windows VMs in inventory
  ansible/inventory.yml
Labels: ansible, platform:windows

#3452 jenkins: skip osx1015 from Node.js 21
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:osx

#3482 add reference to PR in the Jenkins guide
  doc/jenkins-guide.md
Labels: doc, jenkins

#3488 ansible: add ICU 73 to `sharedlibs` images
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2204_sharedlibs.Dockerfile.j2
Labels: ansible

#3493 jenkins: fix arm64 debug build compiler selection
  jenkins/scripts/select-compiler.sh
Labels: jenkins

#3495 ansible: install gcc-10 in remaining Ubuntu 20.04 containers
  ansible/roles/docker/templates/ubuntu2004.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_armv7l.Dockerfile.j2
Labels: ansible, platform:arm
