Repository nodejs/build, pull requests merged in 2024-11, with the labels that each got.

#3949 jenkins: skip freebsd13 on Node.js >=22
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:freebsd

#3948 ansible: add test-digitalocean-freebsd13-x64-2
  ansible/inventory.yml
Labels: ansible, platform:freebsd

#3955 ansible: remove FreeBSD 12
  ansible/inventory.yml
  ansible/roles/baselayout/tasks/main.yml
Labels: ansible, platform:freebsd

#3952 ansible: add getaddrinfo config to prefer IPv4
  ansible/roles/bootstrap/files/gai.conf
  ansible/roles/bootstrap/tasks/partials/linuxonecc/rhel9.yml
  ansible/roles/bootstrap/tasks/partials/rhel8-s390x.yml
Labels: ansible, platform:linuxONE

#3965 jenkins: improve x64 node.exe caching for arm64
  jenkins/scripts/windows/compile.cmd
Labels: platform:windows, jenkins

#3967 ansible: update www Node.js version
  ansible/www-standalone/tasks/base.yaml
Labels: ansible
