Repository nodejs/build, pull requests merged in 2024-05, with the labels that each got.

#3700 jenkins: skip Alpine 3.18 on Node.js >=23
  jenkins/scripts/VersionSelectorScript.groovy
Labels: jenkins

#3702 jenkins: select GCC 11 on Debian 12
  jenkins/scripts/select-compiler.sh
Labels: jenkins

#3706 Update release admins list
  README.md
Labels: doc

#3712 ansible: pin 7-zip to 22.01
  ansible/roles/baselayout-windows/tasks/main.yml
Labels: ansible, platform:windows

#3711 ansible: fix adoptopenjdk metadata fetch
  ansible/roles/java-base/tasks/main.yml
Labels: ansible

#3714 ansible: add ClangCL to VS2022
  ansible/roles/visual-studio/tasks/partials/vs2022.yml
Labels: ansible, platform:windows

#3719 ansible: install Python 3.9 on RHEL 8
  ansible/roles/baselayout/tasks/partials/repo/rhel8.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-ppc64.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-s390x.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-x64.yml
Labels: ansible, platform:ppc, platform:arm, platform:linux-intel, platform:linuxONE

#3730 jenkins: pack embedtest.exe for Windows builds
  jenkins/scripts/windows/ci-cleanup.cmd
  jenkins/scripts/windows/node-compile-windows.cmd
  jenkins/scripts/windows/test.cmd
  jenkins/xml/citgm-smoker.xml
Labels: platform:windows

#3743 jenkins: stop building on 32-bit Windows for Node.js 23
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows

#3737 Ansible: updates to support smartos21/23 test hosts.
  ansible/inventory.yml
  ansible/plugins/inventory/nodejs_yaml.py
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/jenkins-worker/tasks/partials/tap2junit/smartos.yml
  ansible/roles/jenkins-worker/vars/main.yml
Labels: platform:smartos, ansible

#3736 Revert "ansible: temporarily patch libstdc++ header on s390x"
  ansible/roles/build-test-v8/files/gcc-bug-113960.patch
  ansible/roles/build-test-v8/tasks/partials/rhel8-s390x.yml
Labels: ansible, platform:linuxONE
