Repository nodejs/build, pull requests merged in 2024-09, with the labels that each got.

#3877 ansible: add swap to DigitalOcean Ubuntu 22.04
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/ubuntu2204.yml
Labels: ansible, platform:linux-intel

#3888 docs: add Orka setup steps for Jenkins
  doc/orka-vpn.md
Labels: platform:osx, jenkins, orka

#3889 ansible: add rhel9_arm_cross containers
  ansible/roles/docker/files/cc-selector.sh
  ansible/roles/docker/templates/rhel9_arm_cross.Dockerfile.j2
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, platform:arm

#3890 jenkins: select gcc 12 on Ubuntu 22.04 for Node.js 23
  jenkins/scripts/select-compiler.sh
Labels: platform:arm, platform:linux-intel

#3891 docs: add documentation for release images in Orka
  orka/templates/README.md
Labels: doc, platform:osx, packer, orka

#3896 Add GitHub host key to known hosts
  orka/templates/macos-13-arm-release.pkr.hcl
  orka/templates/macos-13-arm-test.pkr.hcl
  orka/templates/macos-13-intel-release.pkr.hcl
  orka/templates/macos-13-intel-test.pkr.hcl
Labels: platform:osx, packer, orka

#3900 ansible: update OpenSSL in sharedlibs containers
  ansible/roles/docker/templates/ubuntu2204_sharedlibs.Dockerfile.j2
Labels: ansible, platform:linux-intel

#3903 ansible: replace Rackspace ubuntu1604-x64 machines
  ansible/inventory.yml
Labels: ansible, platform:linux-intel

#3908 jenkins: select gcc12 for Node 23 on IBM i
  jenkins/scripts/select-compiler.sh
Labels: platform:ibmi

#3909 ansible: repurpose test-ibm-ubuntu2204-x64-2
  ansible/inventory.yml
Labels: ansible, platform:linux-intel

#3906 Orka template updates
  orka/templates/macos-13-arm-release.pkr.hcl
  orka/templates/macos-13-arm-test.pkr.hcl
  orka/templates/macos-13-intel-release.pkr.hcl
  orka/templates/macos-13-intel-test.pkr.hcl
Labels: platform:osx, packer, orka
