Repository nodejs/build, pull requests merged in 2024-04, with the labels that each got.

#3665 ansible: install perf matching the kernel version
  ansible/roles/linux-perf/tasks/main.yml
Labels: ansible, platform:linux-intel

#3490 ansible,jenkins: rm centos7-release-sources host
  ansible/inventory.yml
  jenkins/scripts/VersionSelectorScript.groovy
  jenkins/scripts/select-compiler.sh
Labels: ansible, ci-release, platform:linux-intel

#3670 ansible: add swap to DigitalOcean rhel8-x64 VMs
  ansible/inventory.yml
Labels: ansible, platform:linux-intel

#3481 Add clean up script for macos
  tools/macos-cleanup.sh
Labels: platform:osx

#3683 ansible: remove Nearform CI machines
  ansible/inventory.yml
  ansible/plugins/inventory/nodejs_yaml.py
  tools/host-map/host-map.mjs
Labels: ansible

#3676 jenkins,win: fix buildpulse for rebased PRs
  jenkins/scripts/windows/buildpulse.cmd
Labels: platform:windows, jenkins

#3692 ansible: add 2GB swap to debian x64 hosts
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/debian12.yml
Labels: ansible, platform:linux-intel
