Repository nodejs/build, pull requests merged in 2024-06, with the labels that each got.

#3746 ansible: use packaged `ninja-build`
  ansible/roles/build-test-v8/meta/main.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-ppc64.yml
  ansible/roles/build-test-v8/tasks/partials/rhel8-s390x.yml
  ansible/roles/ninja/meta/argument_specs.yml
  ansible/roles/ninja/tasks/main.yml
Labels: ansible, platform:ppc, platform:linuxONE

#3725 Add meeting notes for 2024-05-15
  doc/meetings/build-wg-meeting-2024-05-15.md
Labels: doc

#3758 ansible: update sharedlibs containers
  ansible/roles/docker/templates/ubuntu2204_sharedlibs.Dockerfile.j2
Labels: ansible, platform:linux-intel

#3761 ansible: upgrade tap2junit version
  ansible/roles/baselayout-windows/vars/main.yml
  ansible/roles/docker/vars/main.yml
  ansible/roles/jenkins-worker/vars/main.yml
Labels: ci-public, ansible

#3767 ansible: update nodejs to 20 in Dockerfile
  ansible/roles/metrics/files/index-generator/Dockerfile
  ansible/roles/metrics/files/process-cloudflare/Dockerfile
  ansible/roles/metrics/files/summaries/Dockerfile
Labels: ansible

#3773 ansible: install gcc 12 on AIX
  ansible/roles/baselayout/tasks/partials/ccache/aix.yml
  ansible/roles/baselayout/vars/main.yml
Labels: ansible, platform:aix
