Repository nodejs/build, pull requests merged in 2024-01, with the labels that each got.

#3601 jenkins: fix vs2019 exclusion for native suites job
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows, jenkins

#3603 jenkins,doc: remove support for building addons with VS2017
  doc/windows-visualstudio-supported-versions.md
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows, jenkins

#3613 ansible: replace Softlayer debian9-x64-1 with debian12-x64-1
  ansible/inventory.yml
  ansible/roles/baselayout/vars/main.yml
  ansible/roles/docker/vars/main.yml
  ansible/roles/java-base/vars/main.yml
  jenkins/scripts/VersionSelectorScript.groovy
Labels: ansible, platform:linux-intel

#3610 ansible: update azure windows VMs in inventory
  ansible/inventory.yml
Labels: ansible, platform:windows
