Repository nodejs/build, pull requests merged in 2024-08, with the labels that each got.

#3849 Revert "jenkins: improve x64 node.exe caching for arm64 (#3842)"
  jenkins/scripts/windows/compile.cmd
Labels: ci-public, incident, platform:windows

#3845 ansible,jenkins: revert to default gcc-12 on debian12
  ansible/roles/baselayout/vars/main.yml
  jenkins/scripts/select-compiler.sh
Labels: ansible, platform:linux-intel

#3858 jenkins: select gcc12 on AIX for Node.js >=23
  jenkins/scripts/select-compiler.sh
Labels: platform:aix

#3865 ansible: add gcc 12 to Linux containers
  ansible/roles/docker/templates/centos7.Dockerfile.j2
  ansible/roles/docker/templates/rhel8.Dockerfile.j2
  ansible/roles/docker/templates/rhel8_arm_cross.Dockerfile.j2
  ansible/roles/docker/templates/ubi81.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu1804_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2004_sharedlibs.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2204.Dockerfile.j2
  ansible/roles/docker/templates/ubuntu2204_armv7l.Dockerfile.j2
Labels: platform:arm, platform:linux-intel

#3872 Add initial support for Packer in Orka
  .github/workflows/orka-templates.yml
  .gitignore
  orka/templates/README.md
  orka/templates/macos-11-intel-test.pkr.hcl
Labels: platform:osx

#3881 feat: delete Packer image for MacOS 11
  orka/templates/macos-11-intel-test.pkr.hcl
Labels: platform:osx, packer, orka

#3875 docs: add support for new images in Orka
  orka/templates/README.md
Labels: doc, platform:osx, packer, orka
