Repository nodejs/build, pull requests merged in 2024-07, with the labels that each got.

#3803 ansible: update gh-bot server
  ansible/inventory.yml
  ansible/playbooks/create-github-bot.yml
  ansible/roles/github-bot/handlers/main.yml
  ansible/roles/github-bot/tasks/main.yml
  ansible/roles/github-bot/templates/environment-file.j2
  ansible/roles/github-bot/templates/github-bot-deploy-webhook.json.j2
  ansible/roles/github-bot/vars/main.yml
  ansible/roles/read-secrets/tasks/partials/infra.yml
Labels: infra, ansible

#3805 ansible: update NodeSource repository setup
  ansible/roles/jenkins-workspace/tasks/main.yml
Labels: ansible

#3814 Add mnx backup host
  ansible/inventory.yml
Labels: infra, ansible

#3815 anisible: Add jenkins workspace machines
  ansible/inventory.yml
  ansible/playbooks/jenkins/worker/create.yml
Labels: ansible

#3816 ansible: dynamically exclude `jenkins-workspace`
  ansible/playbooks/jenkins/worker/create.yml
Labels: ansible

#3822 ansible: update ppc64le and s390x machines
  ansible/inventory.yml
  ansible/roles/bootstrap/tasks/partials/rhel9-s390x.yml
  ansible/roles/jenkins-worker/tasks/main.yml
  jenkins/scripts/select-compiler.sh
Labels: ansible, platform:ppc, platform:linuxONE

#3824 ansible: fix write-ssh-config modules
  ansible/plugins/library/remmina_config.py
  ansible/plugins/library/ssh_config.py
Labels: ansible

#3829 ansible: rebuild fedora37-x64-1 with Fedora 40
  ansible/inventory.yml
Labels: ansible, platform:linux-intel

#3837 ansible: mirror _resha.sh changes
  ansible/www-standalone/tools/promote/_resha.sh
Labels: ansible

#3834 ansible: replace test-digitalocean-fedora38-x64-1
  ansible/inventory.yml
  ansible/roles/bootstrap/files/fedora40-resolv.conf
  ansible/roles/bootstrap/tasks/main.yml
  ansible/roles/bootstrap/tasks/partials/digitalocean/fedora40.yml
Labels: ansible, platform:linux-intel

#3842 jenkins: improve x64 node.exe caching for arm64
  jenkins/scripts/windows/compile.cmd
Labels: platform:windows, jenkins
