Repository nodejs/build, pull requests merged in 2025-01, with the labels that each got.

#3993 ansible: remove smartos18 and smartos20 release and test machines
  ansible/inventory.yml
Labels: platform:smartos, ansible

#3995 ansible: update CRAN repository URL
  ansible/roles/benchmarking/tasks/main.yml
Labels: ansible, platform:linux-intel

#3999 ansible: add new/replacement rhel9-ppc64le VMs
  ansible/inventory.yml
Labels: ansible, platform:ppc

#4008 doc: update Jenkins security matrix
  static-assets/jenkins-authorization-normal.png
  static-assets/jenkins-authorization-sec.png
Labels: doc
