Repository nodejs/build, pull requests merged in 2025-04, with the labels that each got.

#4051 ansible: write `known_hosts` entry for `binary_tmp`
  ansible/roles/github/files/binary_tmp_known_hosts
  ansible/roles/github/tasks/main.yml
Labels: ansible

#4060 ansible: fix build dependencies for `gn` role
  ansible/roles/gn/tasks/main.yml
  ansible/roles/gn/tasks/partials/rhel8-ppc64.yml
  ansible/roles/gn/tasks/partials/rhel8-s390x.yml
  ansible/roles/gn/tasks/partials/rhel8.yml
  ansible/roles/gn/vars/main.yml
Labels: ansible, platform:ppc, platform:linuxONE

#4061 ansible: replace some LinuxOne machines
  ansible/inventory.yml
Labels: ansible, platform:linuxONE

#4064 ansible: update containers to OpenSSL 3.5.0 release
  ansible/roles/docker/templates/ubuntu2204_sharedlibs.Dockerfile.j2
Labels: ansible, platform:linux-intel

#4066 ansible: update `gn` on V8 build machines
  ansible/roles/gn/tasks/main.yml
  ansible/roles/gn/vars/main.yml
Labels: ansible, platform:ppc, platform:linuxONE

#4067 Moving to ClangCL on Windows for Node.js v24
  jenkins/scripts/VersionSelectorScript.groovy
Labels: platform:windows, jenkins

#3892 docs: remove macos references from manual steps
  ansible/MANUAL_STEPS.md
Labels: doc, ansible, packer, orka
